/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Rubik+Mono+One&display=swap');

html,
body
{
    font-family: 'Poppins';
    font-size: 13px;
    height: 100%;
    margin: 0;
}
body div.cdk-overlay-container {
    z-index: 9999;
}

.mat-form-field {
    width: 100%;
}

.mat-elevation-z8 {
    padding: 15px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 5px !important;
    vertical-align: middle !important;
}

tr.mat-footer-row, tr.mat-row {
    height: auto !important;
}

.table thead th {
    font-size: 13px !important;
    font-weight: 500;
}

.mat-cell, .mat-footer-cell {
    font-size: 13px !important;
}

.home-pg {
  background-image: url('./assets/img/bg-8.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.enter-panel {
    position: absolute;
    top: 0%;
    right: 0;
    background-color: rgba(0,0,139, 0.7);
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    border-top-left-radius: 100%;
    padding-top: 10%;
}

.enter-panel h1 {
    font-size: 7rem;
    text-align: left;
}

.enter-panel p {
    font-size: 2rem;
    text-align: center;
}

.enter-panel p strong{
    font-size: 4rem;
    text-decoration: underline;
    color: #FF8C00;
}

.enter-panel img {
    max-width:200px ; 
    max-height: 200px;
    background-color: white;
    border-radius: 50%;
}

