<div class="home-pg"></div>
<div class="enter-panel">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h1><strong>Hey Kid,</strong></h1>
            <p>Don't forget your
                <sub><strong>SKOOLBAG</strong></sub>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="../../assets//img/logo.png">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a routerLink="/school" href="javascript:void(0)" class="btn btn-primary">Enter here &nbsp;<i
                    class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>

</div>